
body {
  background: rgb(219, 202, 185);
  font-family: 'Lato', sans-serif;
  color: #333;
  margin: 0;
}


form {
  width: 570px;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  padding: 60px;
  text-align: center;
  margin-top: 60px;
}

#resultsModal {
  text-align: center;
}

.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.header p {
  margin-top: 0;
}


.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}


.field-description {
  font-size: 14px;
  line-height: 1.3em;
  text-align: left;
  margin-left: 2px;
}


.input {
  display: flex;
  align-items: center;
}


form > .input:not(:last-child) {
    margin-bottom: 1em;
}


.button {
  height: 44px;
  border: none;
}

input[type='text'] {
  height: 44px;
}

.button-textbox {
  height: 44px;
  border-right: none;
}
  
#link, #in-cardname {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}

#in-cardname {
  width: 100%;
}

#name-error {
  width: 100%;
  text-align: left;
  margin-left: 5px;
  color: #E53935;
}

textarea {
  width: 100%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  border-radius: 5px 0 0 5px;
  height: 310px;
  border: none;
  resize: none;
  padding: 20px;
}


#submit {
  width: 25%;
  height: 46px;
  background: #B87B2A;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

#submit:hover {
  background: rgb(210,149,68);
}

input, textarea {
  box-shadow: 0 0 1px #333;
}

input, textarea {border: 1px solid #ccc; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
input:focus, textarea:focus, .form-control:focus{border-color:#B87B2A;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(184,88,42,1);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(184,88,42,1)}

button:focus {
  outline: none;
}

.title {
  background: #1A1D26 url("//b.thumbs.redditmedia.com/hjeqsG4UdUoCZapXpYtjIWxVlIFXwGc1Z5wG2xjv8bU.jpg");
  height: 160px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.update-container {
  width: 100%;
  padding: 20px;
}

.tiny-button-spinner {
  padding-left: 14px;
  margin-right: 5px;
  position: relative;
}